@import 'normalize'

header,
main,
footer
  margin: 0 auto;
  max-width: 40rem;

header
  background: linear-gradient(to left, purple, red);
  border-bottom: 4px solid #ddd;
  color: #fff;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  h1
    margin: 0;

form
  padding: 1rem;
  .link-filter, button
    font-size: 2rem;
  .link-filter
    border: 1px solid #ccc;
    border-bottom: 4px solid #ddd;
    margin-left: 5rem;
    padding: .25rem;
  button
    border: 1px solid darken(purple, 15%);
    border-bottom: 4px solid darken(purple, 15%);
    border-radius: 4px;
    background: purple;
    color: white;
    display: inline-block;
    padding: .25rem .75rem;
    &.add-link-button
      margin-left: 5.25rem;
    &.tiny
      font-size: 1rem;
      &:active
        border-bottom: 0 solid transparent;
        transform: translateY(4px);

&[data-hidden='true']
  display: none;
  transform: scale(0);
&[data-hidden='false']
  display: block;
  transform: scale(1);
  transition: 300ms all;

.fa-star[data-favorite='a'],
.fa-star:hover
  color: gold;

.link-form
  background: #eee;
  border: 1px solid #ddd;
  border-left: 4px solid purple;
  border-right: 4px solid purple;
  box-shadow: -4px 4px 1rem rgba(black, 0.1);
  margin-left: -1rem;
  padding: 1rem;
  position: absolute;
  top: 11rem;
  z-index: 10;
  width: 40rem;
  &::before
    border-color: transparent transparent #ddd transparent;
    border-style: solid;
    border-width: 1rem;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 6rem;
    top: -2rem;
    width: 0;

  label
    display: inline-block;
    padding: .25rem;
  input
    padding: .25rem;

.export-all-links,
.import-all-links,
.remove-all-links
  display: inline-block;
  font-size: small;
  margin-left: 1rem;

.remove-all-links
  color: red;
  margin-right: 1rem;
  text-align: right;

.link
  background: #eee;
  border-bottom: 4px solid #ddd;
  font-size: 1.15rem;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  a
    display: inline-block;
    color: red;
    text-decoration: none;
    width: 70%;
  &:hover
    border-bottom: 4px solid purple;
    a
      color: darken(red, 15%);
  .tag
    background: #ddd;
    color: #222;
    font-size: .8rem;
    padding: .5rem;
    position: absolute;
    right: 5%;
    top: 25%;
    &[data-tag='javascript']
      background: #EBEB2A;
    &[data-tag='python']
      background: #F571EC;
    &[data-tag='haskell']
      background: #A654D6;
  .delete-link,
  .edit-link
    color: #aaa;
    position: absolute;
    opacity: 0;
    right: -3%;
    top: 15%;
    &:hover
      cursor: pointer;
  .edit-link
    top: 50%;
  &:hover
    .delete-link
      color: #333;
      opacity: 1;
      transition: 300ms all;
textarea
  margin: 1rem;
  padding: 1rem;
  width: calc(100% - 2rem);
